@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Узнайте о <a href="https://learn.microsoft.com/aspnet/core">сборке веб-приложении на ASP.NET Core</a>.</p>
</div>
