@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Используйте эту страницу для подробного описания политики конфиденциальности для вашего сайта.</p>
