@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение учётной записи";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    В настоящее время в системен не зарегистрирован реальный отправитель почты, просмотрите <a href="https://aka.ms/aspaccountconf">эту документацию</a> описывае, как подтвердить почту.
    Обычно это отправляется по электронной почте: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажми сюдя для подтверждения своей учётной записи.</a>
</p>
    }
    else
    {
<p>
        Пожалуста проверьте свою электронную почту для подтверждения своей учётной записи.
</p>
    }
}

